<article class="game">
  <div class="name">
    <h2>
      <a href="/game/{{id}}">{{name}}</a>
    </h2>
  </div>
  <div class="description">
    <p>
      {{description}}
    </p>
  </div>
</article>