<ul class="nav d-flex justify-content-between fs-3 bg-dark border-warning">
    {{#if loggedIn}}
  <li class="nav-item">
    <a href="/dashboard" class="nav-link text-white">Dashboard</a>
    {{else}}
  </li>
  <li class="nav-item">
       <a href="/signup" class="nav-link text-white fs-2">Sign Up</a>
  </li>
    {{/if}}
  <li class="nav-item">
    <a class="nav-link text-white fs-1" aria-current="homepage "href="/"><strong>Board Game Tracker</strong></a>
  </li>
    {{#if loggedIn}}
  <li class="nav-item">
    <a href ="#" id="logout" class="nav-link cursor-pointer"><i class="fa text-danger fa-sign-out fs-1" aria-hidden="true"></i>
</a>
  </li>
  {{else}}
  <li class="nav-item">
       <a href="/login" class="nav-link"> <i class="fa text-success fa-sign-in fs-1" aria-hidden="true"></i></a>
  </li>
    {{/if}}
</ul>