<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board Game Tracker</title>
  </head>
  <body>
<header>
  <h1>
    <a href="/">Board Game Tracker</a>
  </h1>
  {{> navbar}}
</header>
<main>
  {{body}}
</main>
  </body>
</html>