<div class="viewFilters">
<a class="btn" href="/dashboard/favorite">View Favorites</a>
<a class="btn" href="/dashboard/ownership">View Owned Games</a>
<a class="btn" href="/dashboard/wishlist">View Wishlist</a>
</div>

<h1 class="text-white">{{username}}'s Favorite Games!</h1>
<div class="container-fluid">
  <div class="px-lg-5">
<div class="row">
{{#each favGame}}
{{> multiple-game-info game}}
{{/each}}
</div>
  </div>
</div>