<article>
  <a href="/create/game">take me to make game</a>
  <a href="/category">categories</a>
</article>

{{! TODO: DEVELOP A SOLID HOMEPAGE 
DO WE WANT TO SHOW ALL GAMES? SHOW MOST RECENTLY ADDED? IDK

DECORATIVE, SEARCH BAR BY GAME NAME - NOT SIGNED IN 
 }}