
  <body>
    <div class="s01">
      <form>
        <div class="inner-form">

              {{#if loggedIn}}
              <a class="nav-link btn btn-primary" id="createGameBtn" href="/create/game">Create A Game</a>
              {{/if}}
            <div class="input-field first-wrap">
            <input id="search" type="text" placeholder="Search a game by name" />
            <div class="d-flex justify-content-center">
            </div>
          </div>
          <div class="input-field second-wrap">
            {{! <input id="location" type="text" placeholder="Category" /> }}
            <select name="searchSelector" id="searchSelector">
              <option value="defaultValue" selected>Search by:</option>
              {{!-- {{#each categories}} --}}
              <option value="1">Game</option>
              <option value="2">Category</option>
              {{!-- {{/each}} --}}
            </select>

          </div>
          <div class="input-field third-wrap">
            <button
              class="btn-search"
              type="button"
              id="search-button"
            >Search</button>
          </div>
        </div>
      </form>
    </div>
    <script src="/javascript/homepage.js"></script>

{{! TODO: DEVELOP A SOLID HOMEPAGE 
DO WE WANT TO SHOW ALL GAMES? SHOW MOST RECENTLY ADDED? IDK

DECORATIVE, SEARCH BAR BY GAME NAME - NOT SIGNED IN 
 }}