<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="s01">
      <form>
        <div class="inner-form">

              {{#if loggedIn}}
              <a class="nav-link btn btn-primary" id="createGameBtn" href="/create/game">Create A Game</a>
              {{/if}}
            <div class="input-field first-wrap">
            <input id="search" type="text" placeholder="Search a game by name" />
            <div class="d-flex justify-content-center">
            </div>
          </div>
          <div class="input-field second-wrap">
            {{!-- <input id="location" type="text" placeholder="Category" /> --}}
            <select name="catSelector" id="catSelector">
              <option value="defaultValue" selected >Category</option>
              {{#each categories}}
              <option value="{{id}}">{{category_name}}</option>
              {{/each}}
            </select>
      
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>


{{! TODO: DEVELOP A SOLID HOMEPAGE 
DO WE WANT TO SHOW ALL GAMES? SHOW MOST RECENTLY ADDED? IDK

DECORATIVE, SEARCH BAR BY GAME NAME - NOT SIGNED IN 
 }}