<form class="login-form bg-light text-black">
  <div class="mb-3">
    <label for="email-login" class="form-label"><strong>Email address: </strong></label>
    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text text-black">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label"><strong>Password: </strong></label>
    <input type="password" class="form-control" id="password-login" name="password-login">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="rememberMeCheck">
    <label class="form-check-label" for="rememberMeCheck">Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<script src="/javascript/login.js"></script>