<form class="login-form">
  <div>
    <label for="email-login">Email: </label>
    <input type="text" name="email-login" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" name="email-signup" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="text" name="password-signup" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
<script src="/javascript/login.js"></script>