<link rel="stylesheet" href="/stylesheets/singleGame.css">
{{> single-game-info game}}
{{#if loggedIn}}
<form class="pref-form">
<input type="checkbox" name="favorite" id="addToFavorite" >Favorite</input>
<input type="checkbox" name="ownership" id="addToOwnership" >Owned</input>
<input type="checkbox" name="wishlist" id="addToWishlist" >Wishlist </input>
<button type="submit" class="btn btn-primary" id="submitPrefs">Submit</button>

</form>

<script src="/javascript/userPref.js"></script>
{{/if}}