{{> single-game-info game}}
{{#if loggedIn}}
<form class="pref-form">
<input type="checkbox" name="favorite" id="addToFavorite" >Add to Favorite
<input type="checkbox" name="ownership" id="addToOwnership" >Add to Owned
<input type="checkbox" name="wishlist" id="addToWishlist" > Add to Wishlist
<button type="submit" class="btn btn-success my-1 text-white" id="submitPrefs">Submit</button>

</form>
{{/if}}
<script src="/javascript/userPref.js"></script>

{{!-- TODO:  NEED TO ADD BUTTONS FOR ADDING TO WISHLIST/OWNERSHIP/FAVORITE --}}