<div class="viewFilters">
<a class="btn" href="/dashboard/favorite">View Favorites</a>
<a class="btn" href="/dashboard/ownership">View Owned Games</a>
<a class="btn" href="/dashboard/wishlist">View Wishlist</a>
</div>
<h1>{{username}}'s Wishlist!</h1>

{{#each wishGame}}
{{!-- <p>{{wishlist}}</p> --}}
{{> multiple-game-info game}}
{{/each}}