body {
    background: rgb(41, 42, 45);
  }
  .container-fluid {
  }
.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }
  .game-card {
  }