
.cardList {
    position: absolute;
    left:45vw;
    top: 15vh;
}
.card {
    border: 1px solid white;
    text-transform: capitalize;
    padding:15px;
}
h3 {
    text-decoration: underline;
}

.card-body li {
    list-style: none;
}

.pref-form {
    background-color:rgb(52, 58, 64) ;
    width: fit-content;
    position: absolute;
    left: 45.8vw;
    top: 9vh;

    color: white;
    padding: 5px;
    border: 1px solid white;
    font-size: 14.5;
}

#submitPrefs {
    position: relative;
    left: 0;
}

@media only screen and (max-width: 768px) {
    .cardList {
        position: absolute;
        left: -3vw;
        top: 1vh;
    }
    .pref-form {
        width: 22vw;
        position: absolute;
        left: 77.7vw;
        height:20vh;
        padding-top: 1rem;
    }
    #submitPrefs {
        position: relative;
        left:-0.65vw;
       top: 4.5vh;
        width:20vw;
    }
}