
html {
  line-height: 1.15;

  -ms-text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
  position: relative;
  background-image: url('/images/chessBoard.jpg');
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.dashNav, .signNav {
  position: absolute;
  right: 4vw;
  top: 1vh;
}

.outNav, .inNav {
  position: absolute;
  right: 0;
  top: 1.5vh;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


figcaption,
figure,
main {

  display: block;
}


figure {
  margin: 1em 40px;
}


hr {
  box-sizing: content-box;

  height: 0;

  overflow: visible;

}


pre {
  font-family: monospace, monospace;

  font-size: 1em;

}

a {
  background-color: transparent;

  -webkit-text-decoration-skip: objects;

}

abbr[title] {
  border-bottom: none;

  text-decoration: underline;

  text-decoration: underline dotted;

}


b,
strong {
  font-weight: inherit;
}


b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;

  font-size: 1em;

}


dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}


small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}


svg:not(:root) {
  overflow: hidden;
}


button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;

  font-size: 100%;

  line-height: 1.15;

  margin: 0;

}

button,
input {

  overflow: visible;
}


button,
select {

  text-transform: none;
}


button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;

  max-width: 100%;

  padding: 0;

  white-space: normal;

}

progress {
  display: inline-block;

  vertical-align: baseline;

}


textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;

  padding: 0;
 
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  
}


[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;

  font: inherit;

}

details,
menu {
  display: block;
}


summary {
  display: list-item;
}

canvas {
  display: inline-block;
}


template {
  display: none;
}


[hidden] {
  display: none;
}

html {
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

* {
  box-sizing: border-box;
}

.s01 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url("../images/Search_001.png");
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.s01 form {
  width: 100%;
  max-width: 1290px;
}

.s01 form legend {
  font-size: 72px;
  line-height: 1;
  color: #fff;
  margin-bottom: 60px;
}

.s01 form .inner-form {
  background: rgba(0, 0, 0, .8);
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.s01 form .inner-form .input-field {
  margin-right: 30px;
  height: 68px;
}

.s01 form .inner-form .input-field input, .input-field select {
  height: 100%;
  background: #fff;
  border-radius: .5px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;
}
.s01 form .inner-form .input-field select {
    text-transform: capitalize;
}

.s01 form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:-moz-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s01 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s01 form .inner-form .input-field.second-wrap {
  width: 32.77%;
  min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
  width: 180px;
  margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  background: #4272d7;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
}

.s01 form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #2d62d3;
}

@media screen and (max-width: 992px) {
  .s01 form legend {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .s01 form .inner-form {
    padding: 30px 35px;
  }
  .s01 form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .s01 form legend {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .s01 form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .s01 form .inner-form .input-field {
    margin-right: 0;
  }
  .s01 form .inner-form .input-field input {
    padding: 5px 15px;
    font-size: 16px;
  }
  .s01 form .inner-form .input-field.first-wrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .s01 form .inner-form .input-field.second-wrap {
    width: calc(50% - 10px);
    min-width: auto;
  }
  .s01 form .inner-form .input-field.third-wrap {
    width: calc(50% - 10px);
  }
  .s01 form .inner-form .input-field.third-wrap .btn-search {
    font-size: 16px;
  }
}
.game-duration {
  margin-top: -0.5rem;
}
#createGameBtn {
  margin-right: 2rem;
}

.addImg label{
 margin-bottom: -10px;
 font-weight: bold;
}
#submit-new-game {
  margin-top: 1.25rem;
}

.allCatBox {
  max-height: 50vh;
  width: 50vw;
  overflow-y:scroll ;
  flex-wrap: wrap;
  flex-direction: row;
  padding:10px;
  background-color: rgba(32, 25, 25, 0.85);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  justify-content: space-around;

}

.allCatBox li {
  margin: 10px;
  box-shadow: rgba(54, 56, 57, 0.42) 0px 2px 4px 0px, rgba(78, 81, 83, 0.45) 0px 2px 16px 0px;
  max-height: 50px;
  width: 120px;
  margin: 0, auto;
  padding: 5px;
  background-color: white;
  text-align: center;
}

.allCatBox li:hover {
box-shadow: rgba(156, 163, 165, 0.857) 0px 2px 4px 0px, rgba(139, 147, 150, 0.921) 0px 2px 16px 0px;
}

.allCatBox li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-shadow: rgb(182, 178, 178) 1px 1px 1px;
}
.catBoxDiv h6 {
    width: 33vw;
    margin: 0 , auto;
    font-weight: bolder;
    text-shadow: -1px 1px 0 #000000,
    3px 3px 0 #000000,
    2px -2px 0 #000000,
    -1px -1px 0 #000000;
    position: relative;
    left: 90%;
}
@media only screen and (max-width: 768px) {
  *{
    position: relative;
  }
  body {
    position: absolute;
    left: 0vw;
    top: 0vh;
    overflow: hidden !important;
  }
  .nav {
    width:100vw;
  }
  .dashNav, .signNav{
    top: 2.5vh;
    right: -1.5vw;
    font-size: medium !important;
  }
  .inNav, .outNav {
    font-size: small;
    top: -.75vh;
    right: -1vw;
  }
  .signNav a{
    font-size: medium !important;
  }

  .custom-form {
    position: absolute;
    left: 25vw !important;
    top: 10vh !important;
  }

  .new-game-form {
    position: absolute;
    left: 4vw !important;
  }
  .modal-body {
    max-height: 50vh;
    overflow-y: scroll;
  }
  #createGameBtn {
    margin-bottom: 1rem;
    width: 100%;
    left: 3vw;
  }
  .catBoxDiv {
    position: absolute;
    left: 25vw;
    
  }
  .allCatBox {
    justify-content: center;
    width: 75vw;
    left: -10vw;
  }
  
  
  .catBoxDiv h6 {
    width: 33vw;
    margin-left: 1rem;
    font-weight: bolder;
    text-shadow: -1px 1px 0 #41ba45,
    3px 3px 0 #000000,
    2px -2px 0 #000000,
    -1px -1px 0 #000000;
  }
}
  
